.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  width: 70%;
  height: 250px;
  border-radius: 30px;
  margin-top: 30px;
}

.addPassword button, input {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 8px;
  margin: 10px;
  padding-left: 15px;
  font-size: 18px;
}

button {
  background-color: white;
}

button:hover {
  background-color: rgb(255, 212, 212);
}